<h3>Welcome</h3>

<% if user_signed_in? %>
    <p>
        Have comments, questions, complaints, rants, suggestions? Head over to <a href="https://github.com/mindscratch">github</a> and contact me.

    </p>
    <%= link_to "Expenses", expenses_path %>
<% else %>
    <p>Please sign-in to access Money Spent!</p>
<% end %>

